*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1280px;
    margin: auto;
    font-family: "Inter", sans-serif;
}
/*Common button*/
.common_btn{
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #1D4ED8;
}
/*Nav start*/
.nav_parent{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 12px 100px;
    align-items: center;
}
.nav_parent img{
    margin-top: 5px;
    width: 100px;
}
.nav_items{
    display: flex;
    justify-self:center;
    list-style: none;
    gap: 20px;
}
.nav_items li a{
    font-size: 12px;
    color:#575757;
    text-decoration: none;
}
.nav_btn{
    display: flex;
    justify-self: end;
}
/*Nav end*/
/*Home start*/
.home_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home_info h1{
    margin: 80px 0 15px 0;
    font-size: 50px;
    font-weight: 700;
}
.home_info p{
    max-width: 550px;
    margin:0px auto 250px auto;
    font-size: 15px;
}
.home_info h1 em{
    font-style: italic;
}
.home_btn{
    margin-bottom: 40px;
    padding:18px 50px;
}
/*Home end*/
/*Speaker start*/
.speakers_parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speakers_parent h1{
    margin: 35px;
    font-size: 45px;
    font-weight: 700;
}
.speakers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.speaker_profile{
    border:2px solid rgb(238, 233, 233);
    border-radius: 10px;
    overflow: hidden;
}
.speakers_name{
    margin: 20px;
}
.speakers_name span{
    color: blue;
    font-size: 13px;
    font-weight: 450;
}
.speaker_profile h3{
    margin: 10px 0;
    font-weight: 750;
}
.speaker_profile p{
    font-size: 13px;
    color: #575757;
}
/*Speaker end*/
/*Secure start*/
.secure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secure_head{
    margin: 50px;
}
.secure_head p{
    font-size: 11px;
    color: #575757;
    margin-top: 10px;
}
.secure_pricing{
    display: flex;
    margin: 0 0 100px 0;
    gap: 15px;
}
.standard,.pro,.team{
    padding: 25px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    text-align: left;
}
.standard span,.pro span,.team span{
    margin-bottom: 10px;
    font-size: 10px;
    color: #918b8b;
    font-weight: 600;
}
.standard p,.pro p,.team p{
    margin-bottom: 20px;
    font-size: 10px;
    color: #918b8b;
    font-weight: 600;
}
.standard hr,.pro hr,.team hr{
    margin-bottom: 20px;
    color: #918b8b;
}
.standard ul li,.pro ul li,.team ul li{
    font-size: 10px;
    margin: 10px 15px;
}
.standard ul li::marker{
    color: #2563EB;
}
.pro ul li::marker{
    color: #2563EB;
}
.team ul li::marker{
    color: #2563EB;
}
.standard button,.pro button,.team button{
    background-color: white;
    color: #1D4ED8;
    border: 1.4px solid #1D4ED8;
    margin-top: 10px;
    padding: 7px 70px;
}
.pro{
    background-color: #0D1B2A;
    color: white;
}
.pro span{
    color: #93C5FD;
}
.pro button{
    background-color: #2563EB;
    color: #ffffff;
    border: none;
    padding: 7px 90px;
}
.team{
    background-color: #E5E7EB;
}
.team button{
    border-color: #0D1B2A;
    color: black;
}
/*Secure end*/
/*venue start*/
.venue{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-bottom: 20px;
}
.venue_left{
    margin:0px 50px ;
}
.venue_about{
    margin-top: 20px;
    margin-right: 50px;
}
.gradient_text {
  background: linear-gradient(90deg, #4F6DFF, #A855F7);
  background-clip: text;
  color: transparent;
}
.event_time{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.event_time img{
    width:30px;
    margin-left: 3px;
}
.event_location{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.event_location img{
    width:30px;
}
.venue_right img{
    width: 600px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.venue_down_left{
    margin: 0 50px;
}
.expect{
    display: flex;      
}
.expect_info{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(38, 141, 189);
    border-radius: 10px;
    margin: 10px 8px 10px 0;
    padding: 10px 14px;
    background-color:#E5E7EB;
}
.expect_info img{
    width: 30px;
    margin-bottom: 5px;
}
.expect_info p{
    margin-top: 5px;
    font-size: 11px;
}
.venue_down_right{
    margin-right: 250px;
}
.venue_down_right img{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 10px 10px 0px;
    margin-bottom: 10px;
    border: 1px solid rgb(38, 141, 189);
}
.direction_btn{
    padding: 7px 15px;
    font-size: 11px;
    border-radius: 5px;
    border: .5px solid rgb(38, 141, 189);
}
/*venue end*/
/*footer start*/
.footer_parent{
    background-color: #0D1B2A;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 20px;
}
.social_icons{
    display: flex;
    list-style: none;
}
.footer_copyright{
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
/*footer end*/